.cartItem {
  position: fixed;
  right: 0;
  top: 35px;
  background: white;
  z-index: 1;
  border: 1px solid black;
  width: 461px;
  height: 565px;
  scroll-behavior: auto;
}
.image {
  width: 100px;
  border-radius: 10px;
}
.cartOneItem {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.cart {
  font-size: 28px;
  font-family: ui-rounded;
  margin: 10px;
  padding: 10px;
}
.title {
  padding: 30px;
}
.itemPriceQuantity {
  display: flex;
  justify-content: space-between;
}
.itemPriceQuantity div {
  margin: 10px;
  font-size: 20px;
}
.button {
  width: 85px;
  height: 50px;
  margin-top: 18px;
}
